* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



#app {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    background-color: lightblue;

    
}

#exportSave{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    
    
}

#canvas-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

#undo-redo-clear{
    display: flex;
    flex-direction: row;
}



#canvas {
    border: 2px solid black;
    background: white;
}

#toolbar {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-top: 20px;
    
}

#controls {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-top: 20px;
}

