* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



#app {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    background-color: lightblue;

    
}

#exportSave{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    
    
}

#canvas-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

#undo-redo-clear{
    display: flex;
    flex-direction: row;
}

#undo-redo-clear button{
    margin: 7px;
}

#canvas {
    border: 2px solid black;
    background: white;
}

#toolbar {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-top: 20px;
    
}

#brush-button{
    margin-top: 7px;
}
#rectangle-button{
    margin-top: 7px;
}
#circle-button{
    margin-top: 7px;
}

#brush img {
    width: 30px;
    height: 30px;
    cursor: pointer;
}

#rectangle img{
    width: 30px;
    height: 30px;
    cursor: pointer;
}


#circle img{
    width: 30px;
    height: 30px;
    cursor: pointer;
}

#undo img{
    width: 30px;
    height: 30px;
    cursor: pointer;
}

#redo img{
    width: 30px;
    height: 30px;
    cursor: pointer;
    rotate: 180deg;
}

#clear img{
    width: 30px;
    height: 30px;
    cursor: pointer;
}

#save-button img{
    width: 30px;
    height: 30px;
    cursor: pointer;
}

#save-button button{
    margin-left: 20%;
    background-color: transparent;
}
#export-button img{
    width: 30px;
    height: 30px;
    cursor: pointer;
}

#export-save{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

#clear-text{
    font-size: small;
    margin-left: 18%;
}

#drawing-tools{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-left: 1%;
}

#controls {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-top: 20px;
}

